<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.dao.AttrAttrgroupRelationMapper">

  <resultMap id="BaseResultMap" type="com.atguigu.gmall.pms.entity.AttrAttrgroupRelationEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="attr_id" jdbcType="BIGINT" property="attrId" />
    <result column="attr_group_id" jdbcType="BIGINT" property="attrGroupId" />
    <result column="attr_sort" jdbcType="INTEGER" property="attrSort" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_attr_attrgroup_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.atguigu.gmall.pms.entity.AttrAttrgroupRelationEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_attr_attrgroup_relation (attr_id, attr_group_id, attr_sort
      )
    values (#{attrId,jdbcType=BIGINT}, #{attrGroupId,jdbcType=BIGINT}, #{attrSort,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.atguigu.gmall.pms.entity.AttrAttrgroupRelationEntity">
    update pms_attr_attrgroup_relation
    set attr_id = #{attrId,jdbcType=BIGINT},
      attr_group_id = #{attrGroupId,jdbcType=BIGINT},
      attr_sort = #{attrSort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, attr_id, attr_group_id, attr_sort
    from pms_attr_attrgroup_relation
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, attr_id, attr_group_id, attr_sort
    from pms_attr_attrgroup_relation
  </select>

</mapper>