<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.pms.entity.CategoryEntity">
    <id column="cat_id" jdbcType="BIGINT" property="catId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="parent_cid" jdbcType="BIGINT" property="parentCid" />
    <result column="cat_level" jdbcType="INTEGER" property="catLevel" />
    <result column="show_status" jdbcType="TINYINT" property="showStatus" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="icon" jdbcType="CHAR" property="icon" />
    <result column="product_unit" jdbcType="CHAR" property="productUnit" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_category
    where cat_id = #{catId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atguigu.gmall.pms.entity.CategoryEntity">
    insert into pms_category (cat_id, `name`, parent_cid, 
      cat_level, show_status, sort, 
      icon, product_unit, product_count
      )
    values (#{catId,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, #{parentCid,jdbcType=BIGINT}, 
      #{catLevel,jdbcType=INTEGER}, #{showStatus,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, 
      #{icon,jdbcType=CHAR}, #{productUnit,jdbcType=CHAR}, #{productCount,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.gmall.pms.entity.CategoryEntity">
    update pms_category
    set `name` = #{name,jdbcType=CHAR},
      parent_cid = #{parentCid,jdbcType=BIGINT},
      cat_level = #{catLevel,jdbcType=INTEGER},
      show_status = #{showStatus,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      icon = #{icon,jdbcType=CHAR},
      product_unit = #{productUnit,jdbcType=CHAR},
      product_count = #{productCount,jdbcType=INTEGER}
    where cat_id = #{catId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select cat_id, `name`, parent_cid, cat_level, show_status, sort, icon, product_unit, 
    product_count
    from pms_category
    where cat_id = #{catId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select cat_id, `name`, parent_cid, cat_level, show_status, sort, icon, product_unit, 
    product_count
    from pms_category
  </select>
</mapper>