<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.dao.SkuInfoMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.pms.entity.SkuInfoEntity">
    <id column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="sku_code" jdbcType="CHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_desc" jdbcType="VARCHAR" property="skuDesc" />
    <result column="catalog_id" jdbcType="BIGINT" property="catalogId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="sku_default_img" jdbcType="VARCHAR" property="skuDefaultImg" />
    <result column="sku_title" jdbcType="VARCHAR" property="skuTitle" />
    <result column="sku_subtitle" jdbcType="VARCHAR" property="skuSubtitle" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_sku_info
    where sku_id = #{skuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atguigu.gmall.pms.entity.SkuInfoEntity">
    insert into pms_sku_info (sku_id, spu_id, sku_code, 
      sku_name, sku_desc, catalog_id, 
      brand_id, sku_default_img, sku_title, 
      sku_subtitle, price, weight
      )
    values (#{skuId,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, #{skuCode,jdbcType=CHAR}, 
      #{skuName,jdbcType=VARCHAR}, #{skuDesc,jdbcType=VARCHAR}, #{catalogId,jdbcType=BIGINT}, 
      #{brandId,jdbcType=BIGINT}, #{skuDefaultImg,jdbcType=VARCHAR}, #{skuTitle,jdbcType=VARCHAR}, 
      #{skuSubtitle,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.gmall.pms.entity.SkuInfoEntity">
    update pms_sku_info
    set spu_id = #{spuId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=CHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      sku_desc = #{skuDesc,jdbcType=VARCHAR},
      catalog_id = #{catalogId,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=BIGINT},
      sku_default_img = #{skuDefaultImg,jdbcType=VARCHAR},
      sku_title = #{skuTitle,jdbcType=VARCHAR},
      sku_subtitle = #{skuSubtitle,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      weight = #{weight,jdbcType=DECIMAL}
    where sku_id = #{skuId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sku_id, spu_id, sku_code, sku_name, sku_desc, catalog_id, brand_id, sku_default_img, 
    sku_title, sku_subtitle, price, weight
    from pms_sku_info
    where sku_id = #{skuId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sku_id, spu_id, sku_code, sku_name, sku_desc, catalog_id, brand_id, sku_default_img, 
    sku_title, sku_subtitle, price, weight
    from pms_sku_info
  </select>
</mapper>